.navbar-container{
    
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    // background-color: forestgreen;
    background-color: #518d2c;
    
}

img{
    display: flex;
    height: 100px
}

.navbar-logo{
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    font-size: 1.2rem;
}

.navbar-logo-text{
  color: white;
  font-family: 'Lora', serif;
}

.nav-menu{
    width: 30vw;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    list-style-type: none;
}



.nav-links{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    // list-style-type: none;
}

.nav-links:hover{
    // color: black;
    color: #202d4a;
    transition: ease-in 100ms;
}
